@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;
  font-family: Iran-Yekan;

}
@font-face {
  font-family:Iran-Yekan ;
  src: url("/fonts/Qs_Iranyekan.woff");
}
